.item {
  width: 100%;
  position: relative;
}

.button {
  display: flex;
  padding: 16px 24px;
  box-shadow: var(--box-shadow);
  background-color: var(--neutral-100);
  width: 100%;
  border-radius: var(--border-radius);
  gap: 16px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--primary-100);
  transition: background-color 0.2s ease;
}

.button.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition:
    border-bottom-left-radius 0.5s ease,
    border-bottom-right-radius 0.5s ease;
}

.button.open .text {
  color: var(--neutral-800);
  transition: color 0.2s ease;
}

.button.open .icon path {
  fill: var(--neutral-800);
  transition: fill 0.2s ease;
}

.button.open .icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.button.recursion {
  border-radius: 0;
  box-shadow: none;
}

.button.recursion::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    var(--neutral-100),
    var(--neutral-200),
    var(--neutral-100)
  );
}

.icon {
  transition: transform 0.2s ease;
}

.icon path {
  transition: fill 0.2s ease;
}

.text {
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: var(--neutral-600);
  margin-right: auto;
  transition: color 0.2s ease;
}

.optionWrapper {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 42px;
  width: 100%;
  height: auto;
  overflow-y: auto;
  background-color: var(--neutral-100);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  /* scrollbar-gutter: stable; */
}

.optionWrapper::-webkit-scrollbar {
  width: 4px;
}
.optionWrapper::-webkit-scrollbar-track {
  background: transparent;
}
.optionWrapper::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: var(--primary-500);
}

.optionWrapper.relative {
  position: relative;
  top: auto;
  left: auto;
  max-height: none;
  height: auto;
  border-radius: 0;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.listBorder {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.itemDrop {
  width: 100%;
}
