.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 32px 0;
  cursor: auto;
}

.skeletonList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.skeletonItem {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
  background-color: var(--neutral-100);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.skeletonBottom {
  display: flex;
  gap: 8px;
}
