.wrapper {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  align-items: flex-start;
}

.wrapperFilter {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.list {
  display: grid;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.clearFilter {
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: var(--primary-500);
  cursor: pointer;
}
