.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: var(--box-shadow);
  background: var(--background);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 72px;
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: 323px;
}

@media all and (max-width: 1024px) {
  .container {
    gap: 130px;
  }

  .logo {
    margin-right: 0;
  }

  .nav {
    margin-right: 0;
  }
}