@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

:root {
  --box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  --box-shadow-hover: 4px 4px 15px 0 rgba(0, 0, 0, 0.08);
  --background: #f6f6f6;
  --background-page: #F2F2F2;
  --primary: #5c89ce;
  --primary-secondary: #ebf1fa;
  --border-radius: 16px;
  --text: #202020;
  --inactive: #C5C5C5;
  --text-secondary: #747474;
  --neutral-100: #F9F9F9;
  --neutral-200: #dadada;
  --skeleton: #E1E1E1;

}